# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor / OS files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db

# Secrets / env
.env
.env.* 
venv.cfg

# Jupyter
.ipynb_checkpoints