:root {
    --french:   #00398A;
    --tech:     #235EB0;
    --caryola:  #2676DF;
    --energy:   #2C88FF;
    --cool:     #5CA3FF;
    --steel:    #83A7E2;
    --black:    #000000;
    --taupe:    #443A2B;
    --concrete: #A9A3AD;
    --smoke:    #d3d3d3;
    --ash:      #DCE0E7;
    --salt:     #f9f8f5;
    --platinum: #F1F4F8;
    --white:    #ffffff;
    --apricot:  #FDCF86;
    --amber:    #FF9D00;
    --link:     #3c0091;
    --header-main-height: 4.8rem;
}


@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterVar.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterItalicVar.ttf') format('truetype');
    font-style: italic;
    font-weight: 100 900;
    font-display: block;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--salt);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-main-height);
    box-sizing: border-box;
    background-color: var(--white);
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.4rem;
    padding-top: 0rem;
    padding-bottom: .2rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}


.site-branding a {
    text-decoration: none;
    color: var(--black);
}

.site-branding h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0.6rem;
}



.nav-primary {
    position: fixed;
    top: 1.8rem;
    right: 5.2rem;
    z-index: 1000;
}

.nav-primary ul {
    display: flex;
    gap: 2.8rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-primary a {
    text-decoration: none;
    font-weight: 500;
    color: var(--black);
    font-size: 1.4rem;
}


.nav-secondary {
    position: fixed;
    top: var(--header-main-height);
    left: 0;
    z-index: 1000;
    background: linear-gradient(to right, var(--caryola), var(--tech));
    width: 100%;
    height: 2.8rem;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.nav-secondary ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 2.4rem;
}

.nav-secondary a {
    text-decoration: none;
    font-weight: 400;
    color: var(--white);
    font-size: 1rem;
}

#github-icon {
    width: 1.2rem;
    height: auto;
    vertical-align: middle;
}



.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--tech);
    color: var(--white);
    text-align: center;
    padding: 0.5rem 0;
}




.hero-layout {
    display: grid;
    gap: 3rem;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.hero-layout#hero-layout1 {
    grid-template-columns: minmax(260px, 380px) minmax(360px, 640px);
    justify-content: left;
}

.hero-layout#hero-layout2 {
    grid-template-columns: minmax(260px, 460px) minmax(260px, 21rem);
    justify-content: center;
}


.link-section {

    padding-left: 8rem;
    margin-left: -8rem;

    background-image: linear-gradient(
        40deg,
        var(--black)   25%,
        var(--french)  40%,
        var(--energy) 50%,
        var(--tech)    60%,
        var(--black)   75%
    );
    background-size: 600% 100%;
    background-repeat: repeat-x;
    background-clip: text;
}

.hero-title {
    margin: 0;
    line-height: 0.95;
    margin-left: -0.3rem;

    color: transparent;

    span {
        display: block;
        line-height: 1;
        margin-bottom: -0.2em;
        padding: 0.125em 0px;
    }
}

.link-section {
    animation: hero-title-gradient 26s linear infinite;
}


@keyframes hero-title-gradient {
    0%   { background-position: 100% 50% }
    20%  { background-position: 100% 50% }
    40%  { background-position: 0% 50%   }
    100% { background-position: 0% 50%   }
}



.hero-title#hero-title1 {
    font-size: 7rem;
    transition: color 0.15s
}

.hero-title#hero-title1:hover {
    color: var(--taupe);
}

.hero-title#hero-title2 {
    font-size: 5rem;
}

.hero-title-link {
    text-decoration: none;
}

.hero-subtitle1 {
    margin: 0;
    margin-left: 0.175rem;
    font-size: 3.91rem;
}

.hero-subtitle2 {
    margin: 0;
    margin-left: 0.175rem;
    font-size: 2.97rem;
    margin-top: 0.85rem;
}


@media (max-width: 840px) {
    .hero-layout {
        grid-template-columns: 1fr;
    }
}

.site-main {
    max-width: 1120px;
    margin: calc(var(--header-main-height) + 4rem) auto 0;
    padding: 0 2rem;
}


footer.site-footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}

.site-footer {
  position: relative; /* Change from fixed to relative */
  bottom: 0;
  width: 100%;
  background-color: var(--tech);
  color: var(--white);
  text-align: center;
  padding: 0.5rem 0;
}



.hero-media {
    width: 100%;
    aspect-ratio: 16 / 9;
    min-height: unset;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border: 2px solid rgba(82, 82, 82, 0.085)
}

.hero-media#hero-media2 {
    border: 2px dashed currentColor !important;
}

.hero-snapshot {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: none;
    will-change: opacity;
    transition: opacity 0.25s ease;
}

.hero-text {
    color: var(--concrete);
    font-style: italic;
    margin-top: 0.7rem;
    margin-left: 0.35rem;
    position: absolute;
    opacity: 0;
    animation: none;
    will-change: opacity;
    transition: opacity 0.25s ease;
}

.hero-snapshot:nth-child(1) {
    animation-delay: 0s;
}

.hero-snapshot:nth-child(2) {
    animation-delay: -5.33s;
}

.hero-snapshot:nth-child(3) {
    animation-delay: -10.66s;
}

.hero-text:nth-child(1) {
    animation-delay: 0s;
}

.hero-text:nth-child(2) {
    animation-delay: -5.33s;
}

.hero-text:nth-child(3) {
    animation-delay: -10.66s;
}


@keyframes slideshow {
    0%, 32% {
        opacity: 1;
    }
    33.333% {
        opacity: 0;
    }
    98.667% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.hero-buttons {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 2.8rem;
    margin-left: 0.35rem;
}

.hero-buttons button {
  width: 40px;
  height: 4px;
  border-radius: 2px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
  box-shadow: 0px 0px 56px rgba(0, 0, 0, 0.035);
}

.hero-buttons button:hover {
  background-color: var(--cool);
}

.hero-buttons button.active {
  background-color: var(--smoke);
}


.presentation.manual .hero-snapshot,
.presentation.manual .hero-text {
    animation: none !important;
    opacity: 0;
}

.presentation.manual .hero-snapshot.is-active,
.presentation.manual .hero-text.is-active {
    opacity: 1;
}

.hero-snapshot.is-active,
.hero-text.is-active {
    opacity: 1;
}